body{
    background-image: url(targaryen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

p{
    color: black;
    background: linear-gradient(to right,red, gold);
    /* use (to right, left, top, bottom) to change the direction of the gradient. */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#red{
    color: crimson;
}

#blue{
    color:blue;
}

.white{
    background-color: white;
}

/* FONTS */
#yellow{
    font-family: "consolas", "sans-serif"; 
    /* putting more than one font-family is for contingency purposes. 
    (in the event that the browser doesn't support that font-family) */
}

h1{
    color: antiquewhite;
    font-family: "Press Start 2P";
    font-style: italic;
    font-weight: bolder;
    text-decoration: red underline;
    font-size: 3rem;
}


/* BORDERS */
#solid{
    border-style: solid;
}
#dashed{
    border-style: dashed;
}
#dotted{
    border-style: dotted;
}
#double{
    border-style: double;
}
#ridge{
    border-style: ridge;
}
#groove{
    border-style: groove;
}
#inset{
    border-style: inset;
}
#outset{
    border-style: outset;
    border-width: 5px;
	border-color: gold;
	border-radius: 10px;
	padding: 5px;
}

h2{
    color: antiquewhite;
    border-top-style: dotted;
	border-bottom-style: dotted;
	border-left-style:double;
	border-left-width: 10px;
	border-left-color: silver;
}


/* MARGINS */
#box1{
    border: 5px solid;
    background-color: brown;
    color: antiquewhite;
    height: 250px;
    width: 250px;
    font-size: 22px;
    /* margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
}

#box2{
    border: 5px solid;
    background-color: burlywood;
    color: black;
    height: 250px;
    width: 250px;
    font-size: 22px;
    margin: auto;
    padding: 10px;
}